p { 
  color: rgb(0, 217, 255);
  font-size: 20px;
}

.active > a{
  color: magenta;
}

body {
  font-family: sans-serif !important;
}
.bg-funky{
  background-image: linear-gradient(-90deg,#000428, #004e92)
}