<!DOCTYPE html>
<html>
<head>
    <title>N3rd 4rmy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/chat.css">
    <style>
      body {font-family: Arial, Helvetica, sans-serif;}
      * {box-sizing: border-box;}
    </style>
</head>
<body onload="lasiChatu();" class="body">
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="img/logo2.png" width="34" height="34"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="links.html">Links</a></li>
                            <li><a href="contacts.html">Contact Us</a></li> -->
                        </ul>
                    </div>
                </div>
            </nav>
          
            <div class="container-fluid text-center">
                <div class="row content">
                    <div class="col-sm-2 sidenav">
                        <p><a href="https://youtu.be/dQw4w9WgXcQ">Free money, try it out!!!</a></p>
                        <p><a href="#"></a></p>
                        <p><a href="#"></a></p>
                    </div>
                    <div class="col-sm-8 text-left">   
                            <h1 class="chat">Chat :)</h1>
                              <hr />
                              <font color="yellow"> 
                              <div id="chats" class="chats">
                              </div>
                              
                              <hr />
                              
                              
                              <div>
                                <input class="msg-field" id="zinja" placeholder="Go on, chat with yourself, be a lonely bastard" type="text">
                                <button class="podzinj" onClick="suutiZinju();" type="button">Send</button>
                              </div>
                              <script src="../static/js/chat.js"></script>
                              {% block yeah %}

                              {% endblock %}
                        </font>
                    </div>
                </div>
                </div>
</body> 
</html>