<!DOCTYPE html>
<html>
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel=StyleSheet href="../static/css/ChatOK.css" type="text/css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
	<style>
	
	</style>
</head>
<body class="bg-funky">
	<div class="container">
	<h3 class="heading text-center">N3rD ch4T</h3>
	<div class="messaging">
		<div class="inbox_msg">

			<div class="mesgs">
			<div class="msg_history">
				
				<div class="incoming_msg">
				<div class="received_msg">
					<div class="received_withd_msg">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate minus eveniet, numquam fugit nisi nobis rem perferendis quas! Eaque ducimus obcaecati quos aliquam distinctio minima sint voluptate at, blanditiis in.</p>
					<span class="time_date"> 6:39 PM    |    June 9</span></div>
				</div>
				</div>
				
				<div class="outgoing_msg">
				<div class="sent_msg">
					<p>Pwease don't be mean to this random text UwU.</p>
					<span class="time_date"> 3:33 AM    |    June 10</span> </div>
				</div>
				
				<div class="incoming_msg">
				<div class="received_msg">
					<div class="received_withd_msg">
					<p>Notice me senpai!</p>
					<span class="time_date"> 04:20 AM    |    Yesterday</span></div>
				</div>
				</div>
				
				<div class="outgoing_msg">
				<div class="sent_msg">
					<p>Noticed you have been, Obi-Wan Kenobi
					</p>
					<span class="time_date"> 06:90 AM    |    Yesterday</span> </div>
				</div>
				
				<!-- <div class="incoming_msg">
				<div class="received_msg">
					<div class="received_withd_msg">
					<p>We work directly with our designers and suppliers,
						and sell direct to you, which means quality, exclusive
						products, at a price anyone can afford.</p>
					<span class="time_date"> 11:01 AM    |    Today</span></div>
				</div>
				</div> -->
			</div>
			</div>
		</div>
	</div>
	<input id="Msg-field" placeholder="Wut is this legendary foreign language? OwO" type="text" size="134px">
	<button class="Msg-send" type="submit" >Send :)</button> <button class="Msg-cnl" type="button">Cancel :(</button>
<footer>
</footer>
<body>
</html>