<!DOCTYPE html>
<html>
<head>
    <title>Nerd army</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="./static/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="./libs/chat.js"> </script>
    <style>
    
    </style>
</head>
<body>
  <div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
          <p><a href="https://youtu.be/dQw4w9WgXcQ">Free money, try it out!!!</a></p>
          <p><a href="#"></a></p>
          <p><a href="#"></a></p>
        </div>
        <div class="col-sm-8 text-left">
            <font color="#8b000000">
              <h1 align="center">Just some random meaningless text :)</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>

  <section class="msger">
  <header class="msger-header">
    <div class="msger-header-title">
      <i class="fas fa-comment-alt"></i> SimpleChat
    </div>
    <div class="msger-header-options">
      <span><i class="fas fa-cog"></i></span>
    </div>
  </header>
  <main class="msger-chat">
    <div class="msg left-msg">
      <div
       class="msg-img"
       style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
      ></div>
      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">Dave the Slave</div>
          <div class="msg-info-time">12:45</div>
        </div>
        <div class="msg-text">
          Hi, welcome to SimpleChat! Go ahead and send me a message. :smile:
        </div>
      </div>
    </div>
    <div class="msg right-msg">
      <div
       class="msg-img"
       style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
      ></div>
      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">Sajad</div>
          <div class="msg-info-time">12:46</div>
        </div>
        <div class="msg-text">
          You can change your name in JS section!
        </div>
      </div>
    </div>
  </main>
  <form class="msger-inputarea">
    <input type="text" class="msger-input" placeholder="Enter your message...">
    <button type="submit" class="msger-send-btn">Send</button>
  </form>
</section>

<script src="./libs/chat.js"> </script>

</body>
</html>
